html,
body, #__next {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.loading-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.loading-card {
  display: flex;
  padding: 24px;
  border-radius: 5px;
  min-height: 300px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-loader{
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
  height: 0px;
  width: 0px;
}

.loading-loader span{
  position: absolute;
  display: block;
  background: #ddd;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -20px;
  perspective: 100000px;
}
.loading-loader span:nth-child(1) {
  left:60px;
  animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
  animation-delay: 0s;
  background: #ff756f;
}
.loading-loader span:nth-child(2) {
  left:20px;
  animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
  animation-delay: .2s;
  background: #ffde6f;
}
.loading-loader span:nth-child(3) {
  left:-20px;
  animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
  animation-delay: .4s;
  background: #01de6f;
}
.loading-loader span:nth-child(4) {
  left: -60px;
  animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
  animation-delay: .6s;
  background: #6f75ff;
}

@keyframes bounce2 {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
}
